* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: ease-in-out .2s;
}

@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-lite;
    src: url(Roboto/Roboto-Light.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    animation: fade 1s ease-in-out;
    animation-fill-mode: forwards;
}

.title {
    font: bold 75pt roboto;

}

.button {
    position: absolute;
    bottom: 10%;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
    animation: border 1.1s ease-in-out alternate infinite;
    padding: .5em;
}

.button:hover {
    color: black;
}

.subtitle {
    font: normal 16pt roboto-lite;
    color: rgba(0, 0, 0, .65);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes border {
    from {
        bottom: 8%;
    }

    to {
        bottom: 6%;
    }
}